@import url('https://fonts.googleapis.com/css2?family=Federo&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: 'Federo', sans-serif;
}
.container{
    /* text-align: center; */
    margin: 0 auto;
    margin-top: 2rem;
    width: 500px;
    border: 2px solid white;
    padding: 2rem;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
}
.num{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    object-fit: cover;
    margin-top: 40%;
}
h1{
    color: white;
    text-align: center;
    margin-top: 4rem;
    font-size: 3.5rem;
    letter-spacing: 5px;
}
h2{
    font-size: 4rem;
    margin-inline: 5px;
}
.btn{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
   
}
button{
    width: 120px;
    height: 35px;
    background-color: red;
    color: white;
    font-size: 1.5rem;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2rem;
}
button:hover{
    border: 2px solid white;
}
@media screen and (max-width: 768px) {
    .container{
        width: 300px;
        height: 300px;
    }
    h2{
        font-size: 2rem;
    }
  }


















